<%= form_with(model: [:admin, @tag], local: true, class: "space-y-6") do |form| %>
  <% if @tag.errors.any? %>
    <div class="form-error">
      <ul>
        <% @tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-gray-700" %>
    <%= form.text_field :name, class: "form-input mt-1 w-full" %>
  </div>

  <div>
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>