<div class="p-8">
  <h1 class="font-bold text-4xl mb-6">Posts Management</h1>

  <div class="mb-4">
    <%= link_to 'Add New Post', new_admin_post_path, class: 'btn-primary' %>
  </div>

  <div class="overflow-x-auto rounded-lg shadow-md">
    <table class="table-container">
      <thead>
        <tr>
          <th class="table-header">ID</th>
          <th class="table-header">Title</th>
          <th class="table-header">Slug</th>
          <th class="table-header">Status</th>
          <th class="table-header">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <% @posts.each do |post| %>
          <tr class="hover:bg-gray-100">
            <td class="table-cell"><%= post.id %></td>
            <td class="table-cell">
              <%= link_to truncate(post.title, length: 20), admin_post_path(post), class: "text-blue-600 hover:underline" %>
            </td>
            <td class="table-cell">
              <%= truncate(post.slug, length: 20) %>
            </td>
            <td class="table-cell">
              <%= post.status.capitalize %>
            </td>
            <td class="table-cell">
              <div class="flex space-x-2">
                <%= link_to edit_admin_post_path(post), class: "btn-secondary" do %>
                  <%= image_tag('edit-white.svg', alt: 'Edit', class: 'w-4 h-4') %>
                <% end %>
                <%= link_to "#", class: "btn-danger", onclick: "openModal('#{admin_post_path(post)}')" do %>
                  <%= image_tag('cross-white.svg', alt: 'Delete', class: 'w-4 h-4') %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="mt-6 flex items-center justify-center">
    <%= raw(pagy_nav(@pagy)) %>
  </div>

  <div id="confirmModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">Confirm Deletion</h2>
      <p class="mb-6">Are you sure you want to proceed with deletion?</p>
      <div class="flex justify-end space-x-2">
        <button class="btn-secondary" onclick="closeModal()">Cancel</button>
        
        <form id="deleteForm" method="POST" class="inline">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal(url) {
    document.getElementById('deleteForm').action = url;
    document.getElementById('confirmModal').classList.remove('hidden');
  }

  function closeModal() {
    document.getElementById('confirmModal').classList.add('hidden');
  }
</script>
