<div class="p-8">
  <h1 class="font-bold text-4xl mb-8">Posts Management</h1>
  <div class="overflow-x-auto rounded-lg shadow-md">
    <table class="table-container">
      <thead>
        <tr>
          <th class="table-header">ID</th>
          <th class="table-header">Title</th>
          <th class="table-header">Slug</th>
          <th class="table-header">Status</th>
          <th class="table-header">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <% @posts.each do |post| %>
          <tr class="hover:bg-gray-100">
            <td class="table-cell"><%= post.id %></td>
            <td class="table-cell">
              <%= truncate(post.title, length: 20) %>
            </td>
            <td class="table-cell">
              <%= truncate(post.slug, length: 20) %>
            </td>
            <td class="table-cell">
              <%= post.status.capitalize %>
            </td>
            <td class="table-cell">
              <div class="flex space-x-2">
                <%= link_to edit_admin_post_path(post), class: "btn-secondary" do %>
                  <%= image_tag('edit-white.svg', alt: 'Edit', class: 'w-4 h-4') %>
                <% end %>
                <%= link_to admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger" do %>
                  <%= image_tag('cross-white.svg', alt: 'Delete', class: 'w-4 h-4') %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-6 flex items-center justify-center">
    <%= raw(pagy_nav(@pagy)) %>
  </div>
</div>
